.list-item {
  &.not-cover {
    .main {
      .info {
        margin-top: 20rpx;
      }
    }
  }
  .main {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex: 1;
    .title {
      font-size: 32rpx;
      color: #333333;
      font-weight: bold;
      line-height: 44rpx;
    }

    .excerpt {
      margin-top: 10rpx;
      .excerpt-text {
        font-size: 24rpx;
        color: #888888;
        line-height: 34rpx;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
      }
    }

    .tags {
      margin-top: 10rpx;
      display: flex;
      flex-wrap: wrap;
      gap: 8rpx;
      
      .tag {
        background-color: #f8f8f8;
        border: 1rpx solid #e0e0e0;
        border-radius: 20rpx;
        padding: 4rpx 12rpx;
        font-size: 20rpx;
        color: #666666;
      }
    }

    .thumbnails {
      margin: 20rpx 0;
      display: flex;
      align-items: center;
      flex-direction: row;
      .img {
        flex: 1;
        /* #ifndef APP-NVUE */
        width: auto;
        /* #endif */
        height: 200rpx;
        border-radius: 8rpx;
        margin: 0 10rpx;
        &:first-child {
          margin-left: 0;
        }
        &:last-child {
          margin-right: 0;
        }
      }
    }

    .info {
      display: flex;
      flex-direction: row;
    }

    .author,
    .publish_date {
      font-size: 24rpx;
      color: #bbbbbb;
    }

    .publish_date {
      margin-left: 14rpx;
    }
  }

  .thumbnail {
    width: 240rpx;
    height: 160rpx;
    margin-left: 20rpx;
    border-radius: 8rpx;
  }
}
